.caption {
  font-style: italic;
  text-align: center;
}

.figure-center {
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.5);
  display: block;
  margin: 1rem auto;
}

.text-center {
  text-align: center;
}
